@mixin slideIn($distance: 100px, $duration: 1s) {
  @keyframes slideIn {
    from {
      transform: translateX(-$distance);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  animation: slideIn $duration ease-out;
}

.card2 {
  height: 660px;

  @include slideIn(20px, 0.3s);
}
